.pct:after
{
content:"%";
} 
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .blue{color:#049cdb;border-bottom-color:#049cdb;}
table .headerSortUp.blue,table .headerSortDown.blue{background-color:#ade6fe;}
table .green{color:#46a546;border-bottom-color:#46a546;}
table .headerSortUp.green,table .headerSortDown.green{background-color:#cdeacd;}
table .red{color:#9d261d;border-bottom-color:#9d261d;}
table .headerSortUp.red,table .headerSortDown.red{background-color:#f4c8c5;}
table .yellow{color:#ffc40d;border-bottom-color:#ffc40d;}
table .headerSortUp.yellow,table .headerSortDown.yellow{background-color:#fff6d9;}
table .orange{color:#f89406;border-bottom-color:#f89406;}
table .headerSortUp.orange,table .headerSortDown.orange{background-color:#fee9cc;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

footer {
    background-color: #F9F9F9;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
}

.navbar-inverse .navbar-inner {
    background-color: #365E93;
    background-image: linear-gradient(to bottom, #365E93, #365E80);
    border-color: #252525;
}

.navbar {
        margin-bottom: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color:#ffffff;
}
.recline-data-explorer .header {
    display: none;
}
.hidden {
    display:none;
}
.clearer {
    clear:both;
}
.hideindent {
    text-indent:-1000px;
    overflow:hidden;
}
.label-publishers {
    width:130px;
    line-height:1.3;
    text-align:center;
}
.btn-score-publishers {
    vertical-align:baseline;
}
h4 {
    padding-top:4px;
}
.table .lead {
    margin:4px;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: -20px 0 40px;
    text-align: center;
}
/*.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    margin-top:40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(img/pwyf_medium.png) no-repeat top left;
    opacity: 1;
}*/
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
h1, .brand {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar a.brand {
    -webkit-transition: all .2s ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: initial;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar a.brand:hover {
    color:#000000;
}
.black {
    color:#ffffff;
    font-size:75px;
}
.masthead {
    background: #EA7F1E;
    background: -moz-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#EA7F1E),color-stop(100%,#ea984d));
    background: -webkit-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -o-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -ms-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: linear-gradient(45deg, #EA7F1E 0%, #ea984d 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA7F1E',endColorstr='#ea984d',GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    padding:60px 0 30px;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.masthead a {
    color:#ffffff;
    font-weight:bold;
}
.masthead a:hover {
    color:#ffffff;
}

.masthead-tracker-home {
    background: #A1218D;
    background: -moz-linear-gradient(45deg,#A1218D 0%,#cf48ba 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#A1218D),color-stop(100%,#cf48ba));
    background: -webkit-linear-gradient(45deg,#A1218D 0%,#cf48ba 100%);
    background: -o-linear-gradient(45deg,#A1218D 0%,#cf48ba 100%);
    background: -ms-linear-gradient(45deg,#A1218D 0%,#cf48ba 100%);
    background: linear-gradient(45deg, #A1218D 0%, #cf48ba 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1218D',endColorstr='#cf48ba',GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    padding:60px 0 30px;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.plan-branding {
    background: #EA7F1E;
    background: -moz-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#EA7F1E),color-stop(100%,#ea984d));
    background: -webkit-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -o-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: -ms-linear-gradient(45deg,#EA7F1E 0%,#ea984d 100%);
    background: linear-gradient(45deg, #EA7F1E 0%, #ea984d 100%) repeat scroll 0 0 transparent;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.plan-branding a.dropdown-toggle {
    color:#ffffff !important;
    text-shadow: 0 1px 0 #777777 !important;
}
.plan-branding.open a.dropdown-toggle {
    background: #EA7F1E !important;
}
.navbar {
    margin-bottom:19px;
}
.plan-branding .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}
.publish-branding {
    background: #EA7F1E;
    background: -moz-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#365e93),color-stop(100%,#7c9ac4));
    background: -webkit-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -o-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -ms-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: linear-gradient(45deg, #365e93 0%, #7c9ac4 100%) repeat scroll 0 0 transparent;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.publish-branding a.dropdown-toggle {
    color:#ffffff !important;
    text-shadow: 0 1px 0 #777777 !important;
}
.publish-branding.open a.dropdown-toggle {
    background: #365e93 !important;
}
.navbar {
    margin-bottom:19px;
}
.publish-branding .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}
.btn-publish {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #365e93;
    *background-color: #365e93;
    background-image: -moz-linear-gradient(top, #7c9ac4, #365e93);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7c9ac4), to(#365e93));
    background-image: -webkit-linear-gradient(top, #7c9ac4, #365e93);
    background-image: -o-linear-gradient(top, #7c9ac4, #365e93);
    background-image: linear-gradient(to bottom, #7c9ac4, #365e93);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c9ac4', endColorstr='#ff365e93', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-plan {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #EA7F1E;
      *background-color: #EA7F1E;
      background-image: -moz-linear-gradient(top, #ea984d, #EA7F1E);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea984d), to(#EA7F1E));
      background-image: -webkit-linear-gradient(top, #ea984d, #EA7F1E);
      background-image: -o-linear-gradient(top, #ea984d, #EA7F1E);
      background-image: linear-gradient(to bottom, #ea984d, #EA7F1E);
      background-repeat: repeat-x;
      border-color: #0044cc #0044cc #002a80;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea984d', endColorstr='#ffEA7F1E', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-publish:hover, .btn-publish:focus, .btn-publish:active, .btn-publish.active, .btn-publish.disabled, .btn-publish[disabled] {
    background-color: #365e93;
    color: #FFFFFF;
}
.btn-publish:active, .btn-publish.active {
}
.btn-plan:hover, .btn-plan:focus, .btn-plan:active, .btn-plan.active, .btn-plan.disabled, .btn-plan[disabled] {
    background-color: #EA7F1E;
    color: #FFFFFF;
}
.btn-plan:active, .btn-plan.active {
}
