{% set active_page='about'%}
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>About</h1>
    <p><a href="http://publishwhatyoufund.org">Publish What You Fund</a>, the global campaign for aid transparency, 
    has developed this implementation schedules' analysis tool to showcase and analyse the implementation schedules being released as part of donors' commitment 
    to publish aid information to a common standard by the end of 2015.</p>
    <hr />
    <h3>Purpose</h3>
    <p>Since agreeing a common standard for publishing aid information at the 4th High Level Forum on Aid
    Effectiveness at Busan in 2011, 42 donor organisations and governments have released implementation
    schedules outlining their plans to meet this commitment. Their target date for publishing timely,
    comprehensive and forward-looking information on resources for development co-operation is the end of 2015.</p>
    <p>Specifically agreed at Busan, implementation schedules are important components of the transparency
    process, laying out an organisation's intentions. The schedules contain a great
    deal of new information on plans and systems. This information needs to be
    analysed in order to understand what donors are setting as their own targets and timeline for meeting
    the commitments they made at Busan. Publish What You Fund carried out detailed comparative analysis of
    the implementation schedules to take stock of progress, highlight trends and provide feedback to donors
    on discrepancies in interpretation and approaches.</p>
    <hr />
    <h3>Methodology</h3>
    <p>We developed an online application in order to assess and compare the various 
    donor implementation schedules currently available. The application has been designed to read
    the common standard schedules and presents the findings in an accessible format that allows them
    to be compared across donors. It provides information on each field included in the standard, when 
    each field will be published by different organisations, as well as an overall timeline for publication.</p>
    <h4>Organisation selection criteria</h4>
    <p>42 organisations that have published implementation schedules (collected together on the 
    <a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">OECD Common Standard website</a>) are 
    included in our current analysis. Many endorsers of the Busan Partnership for Effective Development 
    Co-operation are yet to publish their schedules. (The full list of countries, territories and organisations 
    that the template was sent to by the OECD is available on the OECD website.) As and 
    when these organisations publish their schedules, they will be added to this analysis.
</p>
    <h4>Scoring criteria</h4>
    <p>Organisations are assessed on three key criteria:
    <ol>
        <li>Intention to publish;</li>
        <li>Publication approach;</li>
        <li>Fields coverage.</ol>
    <table class="table">
    <tbody>
        <tr class="info"><td colspan="2"><b>1. Intention to publish</b>
        </td></tr>
        <tr><td width="50px"><i class="icon-ok hideindent">Tick</i></td><td>Stating intention to publish to the IATI component of the common standard with an explicit time frame indicated</td></tr>
        <tr class="info"><td colspan="2"><b>2. Publication approach</b>
        </td></tr>
        <tr><td><i class="icon-ok"></i><i class="icon-ok hideindent">Tick</i></td><td>Open licence (public domain or attribution-only) and at least quarterly publication</td></tr>
        <tr><td><i class="icon-ok hideindent">Tick</i></td><td>Open licence or quarterly publication, but not both</td></tr>
        <tr><td></td><td>Neither open licence nor quarterly publication</td></tr>
        <tr class="info"><td colspan="2"><b>3. Fields</b>
        </td></tr>
        <tr><td><b>0-100%</b></td><td>
            <p>A point is awarded for planning to publish by a specific date for each agency and activity-level field in the standard</p>
                <p>Each field received a point if the publication status is marked 'fully compliant', 'future
            publication' with an explicit target date or 'partially compliant' with supplementary text
            suggesting plans for future publication by a specific target date.</p>
                <p>Where there are contradictions between the status and the accompanying text
            descriptions, organisations are not scored even if the publication status was marked 'fully
            compliant.' Any changes made are presented in the <a class="btn btn-mini" role="button"><i class="icon-info-sign hideindent">changes</i></a> box alongside each field on the organisation's page.</p>
                <p>Fields are grouped under the sub-headings used in the common standard template</p>
                <p>All groups are weighted equally, as were all fields within each group, to arrive at a final score in
            the range of 0 to 100.</p>
            </ul>
        </td></tr>
    </tbody>
    </table>
    <h4>Grouping</h4>
    <p>Organisations' implementation plans have been categorised into groups based on the following criteria:</p>
    <table class="table">
        <thead>
            <th>Group</th><th>Intention to publish</th><th>Publication approach</th><th>Fields</th>
        </thead>
        <tbody>
            <tr><td><span class="label-success label lead label-publishers">Ambitious</span></td><td><i class="icon-ok hideindent">Tick</i></td><td><i class="icon-ok hideindent">Tick</i><i class="icon-ok hideindent">Tick</i></td></td><td><b>60-100%</b></td></tr>
            <tr><td><span class="label-warning label lead label-publishers">Moderately ambitious</span></td><td><i class="icon-ok hideindent">Tick</i></td><td><i class="icon-ok hideindent">Tick</i></td><td><b>40-59%</b></td></tr>
            <tr><td><span class="label-important label lead label-publishers">Unambitious</span></td><td><i class="icon-ok hideindent">Tick</i></td><td></td><td><b>1-39%</b></td></tr>
        </tbody>
    </table>
    <p><b>Some organisations cannot be grouped into any of the above groups, and are categorised as follows:</b></p>
        <table class="table">
            <tbody>
                <tr><td><span class="label lead label-publishers">Under consideration</span></td><td>Organisations that are actively considering publication</td></tr>
                <tr><td><span class="label-important label lead label-publishers">Incomplete</span></td><td>Organisations that have submitted implementation schedules without providing any agency or activity level information</td></tr>
                <!--<tr><td><span class="label-inverse label lead label-publishers">No schedule</span></td><td>Organisations that have not yet published an implementation schedule outlining their plans &ndash; which was due by the end of 2012</td></tr>-->
                <tr><td><span class="label-inverse label lead label-publishers">No publication</span></td><td>Organisations that have no plans to publish to the IATI component of the common standard</td></tr>
        </table>
    <h4>Notes</h4>
    <p>The following assumptions were made in order to ensure that the data was comparable across organisations:</p>
    <ul>
    <li>Not answering a question was understood as a "no" and received no score.</li>
    <li>Using only the year in a date field was understood as the last day of the year (and using only the month was interpreted as the last day of that month).</li>
    <li>The initial implementation date was used as the minimum publication date for all elements.</li>
    <li>If the publication date for specific items was later than the initial implementation date, then
    that item-specific date was used instead.</li>
    </ul>
    <p></p>
    <p>In order to keep the methodology simple, fields which may not be applicable to all donors, or 
    where the format is still under consideration, are excluded from our analysis (and the total scores) 
    of the level of ambition shown in donors' implementation schedules. These fields are:</p>
        <ul>
            <li>Transactions (Reimbursement)</li>
            <li>Transactions (Loan repayment / interest repayment)</li>
            <li>Activity website</li>
            <li>Sector (Agency specific)</li>
            <li>Other Identifier</li>
            <li>Related Activity</li>
            <li>Participating organisation (Accountable)</li>
            <li>Participating organisation (Extending)</li>
            <li>Budget identifier (Administrative/functional)</li>
            <li>Budget identifier (Economic)</li>
        </ul>
    <p><b>We welcome your feedback on whether any of these fields should be included in our analysis or if there are other fields that should be added to the list above.</b></p>
    <p>The scores and groups reflect only the level of ambition demonstrated by
    donors in their implementation schedules and not the quality or veracity of data that is currently being
    or will be published. In addition, because of the apparent variation in the way donors have
    understood and completed different fields within the schedules, some interpretation on our
    part has been inevitable to ensure consistency and comparability across templates. All changes made to 
    the data are marked with the <a class="btn btn-mini" role="button"><i class="icon-info-sign hideindent">changes</i></a> 
    icon, which you can click to see details of the changes made. <b>Donors may
    wish to review their schedules and contact Publish What You Fund on matters where they note
    discrepancies.</b> For these same reasons, donors have not been ranked according to their total
    scores at this point in time.</p>
    <hr />
    <h3>Process</h3>
    <p>Analysing and processing the common standard schedules has required a detailed look at each donor's schedule, as well as interpreting them when donors have completed them in different ways or understood the various options differently.</p>
    <h4>The original implementation schedules</h4>
    <p>The implementation schedules were published in individual Excel files, containing three main sheets: general, agency, and activity-level information.</p>
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/sweden1.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>General</h5>
                    <p>Approach to publication: includes timeliness and frequency, licence, initial publication dates, scope of publication.</p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/sweden2.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>Agency</h5>
                    <p>Agency-level publication: includes country budgets, organisation documents.</p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/sweden3.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>Activity</h5>
                    <p>Activity-level publication: includes information about when the organisation will (or won't) be compliant with each field in the standard.</p>
                </div>
            </div>
        </li>
    </ul>
    <h4>Templates</h4>
    <p>While there is a template for the common standard implementation schedules, several different templates exist, and donors further added to this complexity by modifying the templates, changing options, and adding and deleting rows &ndash; in all, we counted eleven different versions. Importing the schedules proved difficult because of this. In addition, some donors published their Excel-based templates in PDF format, which made it impossible to automatically parse (or read automatically) them. In these cases, it was necessary to copy the same data into new spreadsheets. While the data was thoroughly checked, it is possible that some human error will have resulted. Some interpretation was necessary to ensure consistency and comparability across the schedules (see notes section above)..</p>
    <h4>Importing</h4>
    <p>The schedules were automatically parsed and imported into this application. Publish What You Fund staff then checked the resulting data to ensure that it had been parsed correctly and that it made sense.</p>
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/import.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>Select a file</h5>
                    <p>The user can select a schedule from any publicly-accessible URL. This could be the <a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">OECD/DAC common standard website</a>, the <a href="http://aidtransparency.net">IATI website</a>, or the donor's own website.</p>
                    <p>Where the original schedules could not be automatically parsed (e.g. because they were in PDF), a new spreadsheet was created by Publish What You Fund using the information included in the original schedule.</p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/import2.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>Successfully parsed</h5>
                    <p>The schedule was successfully parsed and is presented to the user to check and correct.</p>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='img/import3.png')}}" class="img-rounded"/>
                <div class="caption">
                    <h5>Check fields</h5>
                    <p>Make sure that all information has been parsed correctly, ensure that compliance status is consistent with notes, and score for partially compliant fields if the publisher has understated their publication relative to other donors.</p>
                </div>
            </div>
        </li>
    </ul>
    <hr />
    <h3><a name="more_sched_info">More information on implementation schedules</a></h3>
    <p>Click <a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">here</a> for more information
	   on Common Standard implementation schedules published to date</p> 
    <p>Click <a href="http://www.aidtransparency.net/implementation">here</a> for more details on 
	  how you can publish to IATI</p> 

{% endblock %}
