{% set active_page = active_page|default('index') -%}{% set title = title|default("Implementation schedule browser")%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link href="/static/bootstrap-responsive.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/static/vendor/jquery/1.7.1/jquery.js" type="text/javascript"></script>
    <script src="/static/bootstrap.min.js?body=1" type="text/javascript"></script>
    <script src="/static/d3.v2.min.js?body=1" type="text/javascript"></script>
    <link href="/static/style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Implementation Schedule Browser</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if active_page == "index" %} class="active"{%endif%}><a href="/">Home</a></li>
              <li{% if active_page == "organisations" %} class="active"{%endif%}><a href="{{url_for('organisation')}}">Organisations</a></li>
              <li{% if active_page == "elements" %} class="active"{%endif%}><a href="{{url_for('element')}}">Fields</a></li>
              <li{% if active_page == "timeline" %} class="active"{%endif%}><a href="{{url_for('timeline')}}">Timeline</a></li>
              <li{% if active_page == "about" %} class="active"{%endif%}><a href="{{url_for('about')}}">About</a></li>
            </ul>
            {% if auth %}
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">

    {% if ((active_page != "index") and (not auth)) %}    
    <div class="alert alert-error alert-block"><h4>Watch out!</h4>
    <p>This site is in beta; the content should not be relied on. You're strongly advised to check out the <a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">original implementation schedules</a> before drawing strong conclusions about this data.</p>
    </div>
    {%endif%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                  <div class="alert alert-{{category}}">
                    <p>{{message}}</p>
                    </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
  </div>
    <footer class="footer">
    <div class="container">
    <div class="alert alert-info alert-block"><h4>Caution!</h4>
    <p>Some interpretation has been inevitable to ensure consistency and comparability across templates. You're advised to refer to the <a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">original implementation schedules</a> before drawing any conclusions about this data.</p>
    </div>
    <div class="pull-left">
        <p>A project of <a href="http://publishwhatyoufund.org">Publish What You Fund</a>, the Global Campaign for Aid Transparency</p>
        <p><a href="https://github.com/markbrough/IATI-Implementation-Schedules">Source code on Github</a>, released under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL v3.0 License</a>.</p>
        <p><a href="http://aidtransparency.net">International Aid Transparency Initiative (IATI)</a></p>
        <p><a href="http://www.oecd.org/dac/aid-architecture/acommonstandard.htm">OECD/DAC Common Standard site</a></p>
    </div>
    <div class="pull-right">
        <p>Uses some great open source code:</p>
        <ul>
            <li><a href="http://twitter.github.com/bootstrap">Bootstrap from Twitter</a></li>
            <li><a href="http://tablesorter.com/docs/">JQuery TableSorter</a></li>
            <li><a href="http://reclinejs.com/">ReclineJS</a>, by <a href="http://okfn.org">OKFN</a></li>
            <li><a href="https://github.com/Bjwebb/iati-implementationxml">iati-implementationxml</a>, by <a href="http://twitter.com/bjwebb67">Ben Webb</a></li>
        </ul>
    </div>
    </div></footer>
</body>
</html>
