{% extends "base.html" %}
{% block content %}
<style>
.highlight-yellow {
    background-color: yellow;
}
.black {
    color:#000000;
    font-size:75px;
}
.recline-timeline .vmm-timeline, .data-views .recline-map .map {
    height: 400px;
}
</style>


 <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/static/css/timeline.css">


  <!-- 3rd party JS libraries -->
  <script type="text/javascript" src="/static/vendor/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="/static/vendor/underscore/1.4.2/underscore.js"></script>
  <script type="text/javascript" src="/static/vendor/underscore.deferred/0.4.0/underscore.deferred.js"></script>
  <script type="text/javascript" src="/static/vendor/backbone/0.9.2/backbone.js"></script>
  <script type="text/javascript" src="/static/vendor/moment/1.6.2/moment.js"></script>
  <script type="text/javascript" src="/static/vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script type="text/javascript" src="/static/vendor/timeline/20120520/js/timeline.js"></script>

  <script type="text/javascript" src="/static/src/backend.json.js"></script>
  <script type="text/javascript" src="/static/src/backend.memory.js"></script>

  <script type="text/javascript" src="/static/src/view.timeline.js"></script>
  <script type="text/javascript" src="/static/src/model.js"></script>

  <style>
    a.btn-timeline {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #F5F5F5;
        background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
        border-image: none;
        border-radius: 4px 4px 4px 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        color: #333333;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding: 4px 12px;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
    }
    .recline-timeline .btn:hover, .recline-timeline .btn:focus {
        background-position: 0 -15px;
        color: #333333 !important;
        text-decoration: none !important;
        transition: background-position 0.1s linear 0s;
    }
    .recline-timeline .btn:hover, .recline-timeline .btn:focus, .recline-timeline .btn:active, .recline-timeline .btn.active, .recline-timeline .btn.disabled, .recline-timeline .btn[disabled]  {
        background-color: #E6E6E6;
        color: #333333;
    }
    </style>

    <div class="jumbotron">
    <h1>Plan. <span class="black">Publish.</span></h1>
    <p class="lead">Donors have released plans to publish more information about their aid activities.</p>
    <p class="lead">Want to see the big picture? Put the pieces together. Browse the plans.</p>
    </div>
    <hr />
    <div class="alert alert-info">
    <h3>Only plans for now</h3>
    <p class="lead">This site currently only shows donors' plans; we will be assessing publication in the course of this year and will release this as part of our 2013 Index in October.</p>
    </div>
    <hr />
    <div class="row">
        <div class="span6">
            <h1>Organisations</h1>
            <p class="lead">See plans from individual organisations</p>
            <p>
            <a class="btn btn-primary" href="{{url_for('organisation')}}">Organisations »</a>
            </p>
        </div>
        <div class="span6">
            <h1>Fields</h1>
            <p class="lead">See data fields across all organisations' plans</p>
            <p>
            <a class="btn btn-primary" href="{{url_for('element')}}">Fields »</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h1>Timeline</h1>
            <p class="lead">Use the timeline to see a graph of publication over time for different fields</p>
            <p>
            <a class="btn btn-primary" href="{{url_for('timeline')}}">Timeline »</a>
            </p>
        </div>
        <div class="span6">
            <h1>Report</h1>
            <p class="lead">Download a report containing our initial analysis</p>
            <p>
            <a class="btn btn-primary" href="http://www.publishwhatyoufund.org/files/2013/03/Comparative-analysis-of-the-common-standard-implementation-schedules-Mar-13.docx">Get the report »</a>
            </p>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="span12 data-views">
          <center><h3>Initial implementation</h3></center>
          <div class="timeline"></div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
    </div>

<script>jQuery(function($) {
    
  var url = "/api/publishers/data/publishing_timetable_date_initial/";
  var dataset = new recline.Model.Dataset({
      url:url,
      fields: [
          {id: 'date', type: 'date', label:"Date"},
          {id: 'organisation_name', type: 'string', label: "Organisation"},
          {id: 'organisation_code', type: 'string', label: "Organisation"}
        ],
      backend:'json'
    });
  var timeliner = new TimelinerView({
    model: dataset,
    el: $('.data-views')
  });
  timeliner.render();
});

var TimelinerView = Backbone.View.extend({
  events: {
    'click .controls .js-show-toolbox': '_onShowToolbox',
    'submit .toolbox form': '_onSearch'
  },

  _onShowToolbox: function(e) {
    e.preventDefault();
    if (this.$el.find('.toolbox').hasClass('hideme')) {
      this.$el.find('.toolbox').removeClass('hideme');
    } else {
      this.$el.find('.toolbox').addClass('hideme');
    }
  },

  _onSearch: function(e) {
    e.preventDefault();
    var query = this.$el.find('.text-query input').val();
    this.model.query({q: query});
  },

  render: function() {
    var self = this;
    // explicitly set width as otherwise Timeline does extends a bit too far (seems to use window width rather than width of actual div)
    // $el.width((this.el.width() - 45)/2.0);
    this.timeline = new recline.View.Timeline({
      model: this.model,
      el: this.$el.find('.timeline')
    });
    
    this.timeline.convertRecord = function(record, fields) {
        var out = this._convertRecord(record);
        if (out) {
            out.headline = record.get('organisation_name').toString();
            out.text = "Initial implementation";
            out.text += '<p><a class="btn btn-timeline" href="/organisations/' + record.get('organisation_code') + '">Organisation page &raquo;</a></p>';
        }
        return out;
    }
    this.timeline.render();
    
    this.model.fetch();

  }
});


</script>

{% endblock %}
