{% set title=elementgroup.description + ' | Field Group | Aid Transparency Tracker'%}{% set active_page='elementgroups'%}{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
    <h1>Field Group: {{elementgroup.description}}</h1>
    <h3>{{elementgroup.longdescription}}</h3>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{elementgroup.name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{elementgroup.description}}</td>
    </tr>
    </tbody>
    </table>
    </form>  
{% endblock %}
