{% set title=element.element.description + ' | Edit Fields | Aid Transparency Tracker'%}{% set active_page='elements'%}{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
    <h1>{{element.element.description}}</h1>
    <h3>Edit this field</h3>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Field name</td>
        <td><input type="text" value="{{element.element.name}}" name="element#name" disabled /></td>
    </tr>
    <tr>
        <td>Field description</td>
        <td><input type="text" value="{{element.element.description}}" name="element#description" /></td>
    </tr>
    <tr>
        <td>Field long description</td>
        <td><textarea name="element#longdescription" rows="4">{% if element.element.longdescription%}{{element.element.longdescription}}{%endif%}</textarea></td>
    </tr>
    <tr>
        <td>Field weight</td>
        <td><label for="weight"><input id="weight" type="checkbox" value="0" name="element#weight" {% if element.element.weight is not none %}checked{%endif%} /> Zero weight</label></td>
    </tr>
    {% if element.properties %}
    <tr class="info"><td colspan="2">Property: <b>{{element.properties.defining_attribute_value}}</b></td></tr>
    <tr>
        <td>Property name</td>
        <td><input type="text" value="{{element.properties.defining_attribute_value}}" name="property#defining_attribute_value" disabled /></td>
    </tr>
    <tr>
        <td>Property description</td>
        <td><input type="text" value="{{element.properties.defining_attribute_description}}" name="property#defining_attribute_description" /></td>
    </tr>
    <tr>
        <td>Property long description</td>
        <td><textarea name="property#longdescription" rows="4">{% if element.properties.longdescription%}{{element.properties.longdescription}}{%endif%}</textarea></td>
    </tr>
    <tr>
        <td>Property weight</td>
        <td><label for="propertyweight"><input id="propertyweight" type="checkbox" value="0" name="property#weight"{% if element.properties.weight is not none %} checked{%endif%} /> Zero weight</label></td>
    </tr>
    {%endif%}
    <tr>
    <td colspan="2">
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>  
{% endblock %}
