{% set title=elementgroup.description + ' | Edit Field Group | Implementation schedule browser'%}{% set active_page='elementgroups'%}{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
    <h1>{{elementgroup.description}}</h1>
    <h3>Edit this field group</h3>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Field group name</td>
        <td><input type="text" value="{{elementgroup.name}}" name="name" disabled /></td>
    </tr>
    <tr>
        <td>Field group description</td>
        <td><input type="text" value="{{elementgroup.description}}" name="description" /></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>  
{% endblock %}
