{% set title='Fields | Implementation schedule browser'%}{% set active_page='elements'%}{% extends "base.html" %}
{% block content %}
    <script src="/static/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#elements").tablesorter({ sortList: [[0,1]] });
    });

    </script>

    <h1>Select a field</h1>
	<table class="table" id="elements">
    <thead>
    <th>Field</th>
    <th>Compliant %</th>
    </thead>
    <tbody>
	{% for d, element in data.items() %}
    {% set pct_compliant = element.scores.percentage %}
    <tr{%if (pct_compliant<30) %} class="error"{%elif (pct_compliant>70) %} class="success"{%endif%}>
	<td>{% if element.property.defining_attribute_value %}<a href="{{url_for('element', level=element.element.level, id=element.element.name, type=element.property.defining_attribute_value)}}">{{element.element.level|capitalize}} - {{ element.element.description }} ({{ element.property.defining_attribute_description }})</a>{% else %}<a href="{{url_for('element', level=element.element.level, id=element.element.name)}}">{{element.element.level|capitalize}} - {{ element.element.description }}</a>{%endif%} </td>

    <td><span class="pct">{{ pct_compliant }}</pct></td>
    </tr>
	{% endfor %}
	</tbody>
    </table>

{% endblock %}
