{% set active_page='elements'%}
{% extends "base.html" %}
{% block title %}{{element.element.description}} &raquo; Fields {% endblock %}
{% block content %}
    {% if auth %}{% if element.properties%}
    <a class="btn btn-success pull-right" href="{{url_for('edit_element', id=element.element.name, level=element.element.level, type=element.properties.defining_attribute_value)}}">Edit</a>
    {% else %}
    <a class="btn btn-success pull-right" href="{{url_for('edit_element', id=element.element.name, level=element.element.level)}}">Edit</a>
    {%endif%}{%endif%}
    <h1>{{element.element.description}} {% if element.properties %}({{element.properties.defining_attribute_description}}){%endif%}</h1>
    {% if element.properties and element.properties.longdescription %}
    <p class="lead">{{element.properties.longdescription}}</p>
    {% else %}
    {% if element.element.longdescription %}<p class="lead">{{element.element.longdescription}}</p>{%endif%}
    {%endif%}
    {% if (element.element.weight ==0) or (element.properties and element.properties.weight==0) %}<a href="#noweightbox" role="button" class="btn" data-toggle="modal"><i class="icon-ban-circle hideindent" title="Field not scored (for all donors).">N/A</i> <b>Unweighted field</b></a> 
<div id="noweightbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="noweightboxlabel" aria-hidden="true"> 
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="noweightboxlabel">Unweighted field</h3>
    </div>
    <div class="modal-body">
    <p>The scores for this field have not been included in determining a donor's total scores or their ambition levels.</p>
    </div>
</div>{%endif%}

    <table class="table">
    <thead>
        <th>Organisation</th>
        <th>Compliance</th>
        <th>Publication date</th>
        <th>Notes</th>
        <th>Score</th>
    </thead>
    <tbody>
    {% for d in data %}
    {% set status = d.Data.status_actual %}
    <tr{%if (d.Data.status=='uc') %} class="error"{%elif (d.Data.status=='fp') %} class="info"{%endif%}>
        <td><a href="{{url_for('organisation', id=d.Publisher.publisher_code_actual)}}">{{d.Publisher.publisher_actual}}</a></td>
        <td><i class="{{properties.status_formatted[status]['class']}}" title="{{properties.status_formatted[status]['name']}}"></i><br />
                            {{properties.status_formatted[status]['name']}}</td>
	    <td>{% if d.Data.date_actual is not none %}{{d.Data.date_actual}}{%endif%}</td>
        <td>{{d.Data.notes_actual}} {%if d.Data.exclusions%}{{d.Data.exclusions}}{%endif%}</td>
        <td>{%if d.Data.score%}<i class="icon-ok hideindent" title="Fully compliant">1</i>{%endif%}</td>

    </tr>
    {% endfor %}
    </tbody>
    </table>        
{% endblock %}
