{% set title='Refine and import | Implementation schedule browser'%}{% extends "base.html" %}
{% block content %}
    <style type="text/css">
    .bigchoice label {
        font-weight:bold;
        font-size:16px;
    }
    .bigchoice input[type="radio"], .bigchoice input[type="checkbox"] {
        margin:0px;
    }   
    </style>
    <ul class="nav nav-tabs hidden" id="pageTab">
        <li><a href="#first" data-toggle="tab" class="first">New/existing</a></li>
        <li><a href="#second" data-toggle="tab" class="second">Basic information</a></li>
        <li><a href="#third" data-toggle="tab" class="third">Detailed information</a></li>
    </ul>

    <form action="" method="post">
    <h1>Edit and import schedule</h1>
    <input type="hidden" name="data#source_file" value="{{source_file}}" />
    <input type="hidden" name="metadata#schedule_type#actual" value="{{doc.find("metadata").find("schedule_type").text}}" />
    <input type="hidden" name="metadata#schedule_type_code#actual" value="{{doc.find("metadata").find("schedule_type").get("code")}}" />

    <p class="lead">{{doc.find("metadata").find("publisher").text}}: {{doc.find("metadata").find("schedule_type").text}} <code>{{doc.find("metadata").find("schedule_type").get("code")}}</code> <a href="{{source_file}}" title="{{source_file}}" class="btn btn-small pull-right"><i class="icon icon-download"></i> source file</a></p>
    <div class="alert alert-info">Some schedules are messy and the importing tool can only handle so much. Where there are mistakes, please correct them. Some assumptions have been made to help, but check that you're happy with them.</div>

    <div class="tab-content">
        <div class="tab-pane" id="first">
                <div class="alert alert-error"><b>Warning!</b> Your schedule has not yet been imported. Please check your schedule by clicking through the next two pages before clicking "Import schedule".</div>
            <fieldset>
                <legend>Create new or update existing organisation</legend>
                <p class="bigchoice">
                <label for="import-existing"><input type="radio" name="form#createupdate" id="import-existing" value="existing" checked> Use existing</input></label>
                </p>
                <select name="form#existing-publisher">
                <option value=""></option>
                    {% for publisher in publishers %}
                        <option value="{{publisher.id}}">{{publisher.publisher_actual}}</option>
                    {% endfor %}
                </select>

                <p class="bigchoice">
                <label for="import-new"><input type="radio" name="form#createupdate" id="import-new" value="new"> Create new</input></label>
                </p>
                    <table class="table">
                        <thead>
                            <th>Field</th>
                            <th>Original</th>
                            <th>Actual</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Publisher name</td>
                                <td><input type="text" name="form#publisher#original" class="publisher_name original" value="{{doc.find("metadata").find("publisher").text}}" readonly/></td>
                                <td><input type="text" name="form#publisher#actual" class="publisher_name actual" value="{{doc.find("metadata").find("publisher").text}}"/></td>
                            </tr>
                            <tr>
                                <td>Publisher code</td>
                                <td><input type="text" name="form#publisher_code#original" class="publisher_code original" value="{{doc.find("metadata").find("publisher").get("code")}}" readonly/></td>
                                <td><input type="text" name="form#publisher_code#actual" class="publisher_code actual" value="{{doc.find("metadata").find("publisher").get("code")}}"/></td>
                            </tr>
                        </tbody>
                    </table>
            </fieldset>
            <p><a href="#second" data-toggle="tab" class="btn btn-success second">Next &raquo;</a></p>
        </div>
        <div class="tab-pane" id="second">
            <fieldset>
                <legend>Basic information</legend>
                  <p><a href="#first" data-toggle="tab" class="btn first">&laquo; Back</a> <a href="#third" class="btn btn-success third">Next &raquo;</a></p>
                <table class="table">
                    <thead>
                        <th>Field</th>
                        <th>Original</th>
                        <th>Actual</th>
                        <th>Reason for change</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Schedule date</td>
                            <td><input type="text" name="metadata#schedule_date#original" class="schedule_date original" value="{{doc.find("metadata").find("date").text}}" readonly/></td>
                            <td><input type="text" name="metadata#schedule_date#actual" class="schedule_date actual" value="{{doc.find("metadata").find("date").text}}"/></td>
                            <td><div class="control-group"><select name="metadata#schedule_date#change" class="schedule_date change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Schedule version</td>
                            <td><input type="text" name="metadata#schedule_version#original" class="schedule_version original" value="{{doc.find("metadata").find("version").text}}" readonly/></td>
                            <td><input type="text" name="metadata#schedule_version#actual" class="schedule_version actual" value="{{doc.find("metadata").find("version").text}}"/></td>
                            <td><div class="control-group"><select name="metadata#schedule_version#change" class="schedule_version change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr class="info">
                            <td>Initial implementation date</td>
                            <td><input type="text" name="publishing#publishing_timetable_date_initial#original" class="publishing_timetable_date_initial original" value="{{doc.find("publishing").find("publication-timetable").get("date-initial")}}" readonly/></td>
                            <td>
                            <div class="control-group"><input type="text" name="publishing#publishing_timetable_date_initial#actual" class="publishing_timetable_date_initial actual" value="{{doc.find("publishing").find("publication-timetable").get("date-initial")}}" id="publishing_timetable_date_initial" /><br /><label for="under_consideration"><input type="checkbox" name="data#under_consideration" id="under_consideration" /> Under consideration</label></div></td>
                            <td><div class="control-group"><select name="publishing#publishing_timetable_date_initial#change" class="publishing_timetable_date_initial change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Frequency</td>
                            <td><input name="publishing#publishing_frequency_frequency#original" class="publishing_timetable_frequency original" type="text" value="{{doc.find("publishing").find("publication-frequency").get("frequency")}}" readonly/></td>
                            <td>
                            <select name="publishing#publishing_frequency_frequency#actual" class="publishing_timetable_frequency actual"><option></option> 
                                {% for key, value in properties.codes[properties.properties['publishing_frequency_frequency']["code"]].items() %}
                                <option value="{{key}}" {% if key == (doc.find("publishing").find("publication-frequency").get("frequency")) %}selected {%endif%}>{{value}}</option>
                                {%endfor%}
                            </select>
                            </td>
                            <td><div class="control-group"><select name="publishing#publishing_frequency_frequency#change" class="publishing_timetable_frequency change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Timeliness</td>
                            <td><input type="text" name="publishing#publishing_frequency_timeliness#original" class="publishing_timetable_timeliness original" value="{{doc.find("publishing").find("publication-frequency").get("timeliness")}}" readonly/></td>
                            <td>
                            <select name="publishing#publishing_frequency_timeliness#actual" class="publishing_timetable_timeliness actual"><option></option> 
                                {% for key, value in properties.codes[properties.properties['publishing_frequency_timeliness']["code"]].items() %}
                                <option value="{{key}}" {% if key == (doc.find("publishing").find("publication-frequency").get("timeliness")) %}selected {%endif%}>{{value}}</option>
                                {%endfor%}
                            </select></td>
                            <td><div class="control-group"><select name="publishing#publishing_frequency_timeliness#change" class="publishing_timetable_timeliness change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Frequency narrative</td>
                            <td><textarea readonly name="publishing#publishing_frequency_narrative#original" class="publishing_timetable_narrative original" rows="4">{{doc.find("publishing").find("publication-frequency").find("narrative").text}}</textarea></td>
                            <td><textarea name="publishing#publishing_frequency_narrative#actual" class="publishing_timetable_narrative actual" rows="4">{{doc.find("publishing").find("publication-frequency").find("narrative").text}}</textarea></td>
                            <td><div class="control-group"><select name="publishing#publishing_frequency_narrative#change" class="publishing_timetable_narrative change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Thresholds</td>
                            <td><textarea name="publishing#publishing_thresholds#original" class="publishing_thresholds original" readonly rows="4">{{doc.find("publishing").find("thresholds").find("narrative").text}}</textarea></td>
                            <td><textarea name="publishing#publishing_thresholds#actual" class="publishing_thresholds actual" rows="4">{{doc.find("publishing").find("thresholds").find("narrative").text}}</textarea></td>
                            <td><div class="control-group"><select name="publishing#publishing_thresholds#change" class="publishing_thresholds change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Exclusions</td>
                            <td><textarea name="publishing#publishing_exclusions#original" class="publishing_exclusions original" readonly rows="4">{{doc.find("publishing").find("exclusions").find("narrative").text}}</textarea></td>
                            <td><textarea name="publishing#publishing_exclusions#original" class="publishing_exclusions actual" rows="4">{{doc.find("publishing").find("exclusions").find("narrative").text}}</textarea></td>
                            <td><div class="control-group"><select name="publishing#publishing_thresholds#change" class="publishing_exclusions change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>License</td>
                            <td><input name="publishing#publishing_license#original" class="publishing_license original" type="text" value="{{doc.find("publishing").find("license").get("license")}}" readonly/></td>
                            <td><select name="publishing#publishing_license#actual" class="publishing_license actual"><option></option> 
                                {% for key, value in properties.codes[properties.properties['publishing_license']["code"]].items() %}
                                <option value="{{key}}" {% if key == (doc.find("publishing").find("license").get("license")) %}selected {%endif%}>{{value}}</option>
                                {%endfor%}
                            </select></td>
                            <td><div class="control-group"><select name="publishing#publishing_license#change" class="publishing_license change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Scope</td>
                            <td><input name="publishing#publishing_scope_value#original" class="publishing_scope original" type="text" value="{{doc.find("publishing").find("scope").get("value")}}" readonly/></td>
                            <td><input name="publishing#publishing_scope_value#actual" class="publishing_scope actual" type="text" value="{{doc.find("publishing").find("scope").get("value")}}"/></td>
                            <td><div class="control-group"><select name="publishing#publishing_scope_value#change" class="publishing_scope change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                        <tr>
                            <td>Scope narrative</td>
                            <td><textarea name="publishing#publishing_scope_narrative#original" class="publishing_scope_narrative original" readonly rows="4">{{doc.find("publishing").find("scope").find("narrative").text}}</textarea></td>
                            <td><textarea name="publishing#publishing_scope_narrative#actual" class="publishing_scope_narrative actual" rows="4">{{doc.find("publishing").find("scope").find("narrative").text}}</textarea></td>
                            <td><div class="control-group"><select name="publishing#publishing_scope_narrative#change" class="publishing_scope_narrative change" disabled><option></option>                                {% for key, value in properties.change_reasons.items() %}
                                <option value="{{key}}">{{value}}</option>
                                {%endfor%}</select></div></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <p><a href="#first" data-toggle="tab" class="btn first">&laquo; Back</a> <a href="#third" class="btn btn-success third">Next &raquo;</a></p>
        </div>
        <div class="tab-pane" id="third">
            <fieldset>
                <legend>Detailed information</legend>
            <p><a href="#second" data-toggle="tab" class="btn second">&laquo; Back</a> <input type="submit" value="Import schedule" class="btn btn-success" name="do_import" id="do_import" /></p>
                <table class="table">
                    <thead>
                        <th>Field</th>
                        <th>Property</th>
                        <th>Original</th>
                        <th>Actual</th>
                        <th>Reason for change</th>
                    </thead>
                    <tbody>
                        {% for level in ('organisation', 'activity') %}
                        <tr class="info">
                        <td colspan="5"><b>{{level|capitalize}} level</b></td>
                        </tr>
                        {% for element in doc.find(level) %}
                        <tr>
                            <td rowspan="4">{{element.tag}}{% if element.get("type") %} ({{element.get("type")}}){%endif%}</td>
                            <td>Status</td>
                            <td><input type="text" value="{% if element.find("status").get("category") is not none %}{{element.find("status").get("category")}}{%endif%}" class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} status_original" name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#status_original" readonly/></td>
                            <td><select
                                 name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#status_actual"
                                 class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} status_actual" >
                                <option value="" {%if (element.find("status").get("category")) is none %}selected{%endif%} ></option>
                                {% for key, value in properties.status.items() %}
                                    <option value="{{key}}" {% if key == (element.find("status").get("category")) %}selected {%endif%}>{{value}}</option>
                                {%endfor%}
                            </select></td>
                            <td><div class="control-group"><select
                             name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#status_change"
                             class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} status_change" disabled>
                                <option value=""></option>
                                {% for key, value in properties.change_reasons.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {%endfor %}
                            </select></div></td>
                            <tr>
                            <td>Date</td>
                            <td><input type="text" 
                            value="{{element.find("publication-date").text}}" 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#date_original"
                            class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} date_original"
                            readonly/></td>
                            <td><div class="control-group"><input type="text" 
                            value="{{element.find("publication-date").text}}" 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#date_actual"
                            class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} date_actual"  /></div></td>
                            <td>
                            <div class="control-group">
                            <select 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#date_change"
                            class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} date_change" 
                            disabled>
                                <option></option>
                                {% for key, value in properties.change_reasons.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {%endfor%}
                            </select>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Notes</td>
                            <td><textarea 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#notes_original"
                            readonly>{{element.find("notes").text}}</textarea></td>
                            <td><textarea
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#notes_actual"
                            >{{element.find("notes").text}}</textarea></td>
                            <td><div class="control-group"><select 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#notes_change"
                            disabled>
                                <option></option>
                                {% for key, value in properties.change_reasons.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {%endfor%}
                            </select></div></td>
                        </tr>
                        <tr><td colspan="4"><label for="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#score">
                            <input 
                            type="checkbox"
                            id="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%}#score" 
                            class="{{element.tag}}{% if element.get("type") %}-{{element.get("type")}}{%endif%} score" 
                            name="{{level}}#{{element.tag}}{% if element.get("type") %}@{{element.get("type")}}{%endif%}#score"
                            value="1" /> Score for this field</label></td></tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <p><a href="#second" data-toggle="tab" class="btn second">&laquo; Back</a> <input type="submit" value="Import schedule" class="btn btn-success" name="do_import" id="do_import" /></p>
        </div>
    </div>
    </form>
    
    <script type="text/javascript">
     var initial_date;
     $(".third").click(function(e){ 
        e.preventDefault();
        validate = true;
        var pdate;
        pdate = $("#publishing_timetable_date_initial").val();

        re = /^\d{4}\-\d{1,2}\-\d{1,2}$/; 
        if (!(pdate == "") && !(pdate.match(re))) {
            $($("#publishing_timetable_date_initial")).closest(".control-group").addClass("error");
            validate = false; 
        }
        if (validate == false) {
            alert('Your initial publication date is not a valid date of the format YYYY-MM-DD');
        } else {
            doSetupForm();
            $('#pageTab .third').tab('show');
        }
     });

     $("#do_import").click(function(e) {
        e.preventDefault();
        if (validateDates()) {
            $("form").submit();
        }
     });
     function validateDates() {
        var validate = true;
        $("#third .date_actual").each(function() {
            element = $(this).attr('class');
            // regular expression to match required date format 
            re = /^\d{4}\-\d{1,2}\-\d{1,2}$/; 

            // if not blank and doesn't match the required format...
            if ((!$(this).val()=="") && (!$(this).val().match(re))) {
                $(this).closest(".control-group").addClass("error");
                validate = false; 
            }
        });
        var pdate;
        pdate = $("#publishing_timetable_date_initial").val();

        re = /^\d{4}\-\d{1,2}\-\d{1,2}$/; 
        if (!(pdate == "") && !(pdate.match(re))) {
            $($("#publishing_timetable_date_initial")).closest(".control-group").addClass("error");
            validate = false; 
            alert('Your initial publication date is not a valid date.');
        }
        if (validate == false) {
            alert("Please ensure all of your dates are formatted YYYY-MM-DD or blank.");
            return false;
        } else {
            return true;
        }
     }
     function doSetupForm() {
        initial_date = $("#publishing_timetable_date_initial").val();
        under_consideration = $("#under_consideration").attr('checked');
        // under_consideration checkbox stops this form validation from occurring
        if (under_consideration==undefined) {
            if (initial_date == '') {
                $("#third .status_actual").each(function() {
                    element = $(this).attr('class');
                    element = element.replace(" status_actual", "");
                    
                    if ($("." + element + ".status_actual").attr('value') != "") {
                        $("." + element + ".status_actual").attr('value', "");
                        $("." + element + ".status_change").removeAttr('disabled').val('no_initial_date');
                    }
                    if ($("." + element + ".date_actual").attr('value') != "") {
                        $("." + element + ".date_actual").attr('value', "");
                        $("." + element + ".date_change").removeAttr('disabled').val('no_initial_date');
                    }
                });
            } else {
                ensureInitial();
            }
        }
     }
     $(function () {
        $('#pageTab .first').tab('show');
     });
     $("#third select, #third input").change(function(){
        if ($(this).is("select")) {
            element = $(this).attr('class');
            original = element.replace(" status_actual", ".status_original");
            changereason = element.replace(" status_actual", ".status_change");
        } else {
            element = $(this).attr('class');
            original = element.replace(" date_actual", ".date_original");
            changereason = element.replace(" date_actual", ".date_change");
        }
        if ($(this).val() != $('.'+original).val()) {
            changer = $("."+changereason);
            changer.removeAttr('disabled');
            ensureSelectNotEmpty(changer);
        } else {
            changer = $("."+changereason);
            changer.attr('value', "");
            changer.closest(".control-group").removeClass("error");
            changer.attr('disabled', 'disabled');
        }
     });

     $("#second select, #second input, #second textarea").change(function(){
        element = $(this).attr('class');
        original = element.replace(" actual", ".original");
        changereason = element.replace(" actual", ".change");
        if ($(this).val() != $('.'+original).val()) {
            changer = $("."+changereason);
            changer.removeAttr('disabled');
            ensureSelectNotEmpty(changer);
        } else {
            changer = $("."+changereason);
            changer.attr('value', "");
            changer.closest(".control-group").removeClass("error");
            changer.attr('disabled', 'disabled');
        }
     });
     $("select").change(function(){
        ensureSelectNotEmpty(this);
     });

     function ensureSelectNotEmpty(element) {
        if ($(element).val() == "") {
            $(element).closest(".control-group").addClass("error");
        } else {
            $(element).closest(".control-group").removeClass("error");
        }
     }
     function ensureInitial() {
        // date must not be earlier than the initial publication date for any element, if publication status is fc
        // if initial publication date is empty, then no elements are published.
        var element
        $("#third .status_original").each(function() {
            element = $(this).attr('class');
            element = element.replace(" status_original", "");
            status = $(this).attr('value');

            // if there's a date, make sure it's not earlier than the initial date
            if (($("." + element + ".date_actual").val() != "") && ($("." + element + ".date_actual").val() < initial_date)) {
                $("." + element + ".date_actual").attr('value', initial_date);
                $("." + element + ".date_change").removeAttr('disabled').val('initial_date');
            }
            // fully compliant
            if (status == 'fc') {
                // if there's no date, then make it the same as the initial date
                if ($("." + element + ".date_actual").val() == "") {
                    $("." + element + ".date_actual").attr('value', initial_date);
                    $("." + element + ".date_change").removeAttr('disabled').val('no_date');
                }
                // give the score
                $("." + element + ".score").attr('checked', 'checked');
            }
            // future publication
            if (status == 'fp') {
                // if the date exists
                if ($("." + element + ".date_actual").val() != "") {
                    // if it's earlier than the initial date, correct it
                    if ($("." + element + ".date_actual").val() < initial_date) {
                        $("." + element + ".date_actual").attr('value', initial_date);
                        $("." + element + ".date_change").removeAttr('disabled').val('initial_date');
                    }
                    // give the score
                    $("." + element + ".score").attr('checked', 'checked');
                }
            }
            // partially compliant: enable score checkbox to allow user to decide if it's sufficiently compliant
            if (status == 'pc') {
                $("." + element + ".score").removeAttr('disabled').closest("tr").addClass("info");
            }
        });
    }
    </script>
{% endblock %}
