{% extends "base.html" %}
{% block content %}
    
    <form action="" method="post">
    <fieldset>
        <legend>Import a new schedule</legend>
        <p><label for="url">URL:</label><input type="text" value="http://www.oecd.org/dac/aidarchitecture/Norway_Implementation%20Schedule%20for%20the%20common%20standard.xls" name="url" /></p>
        <p><label for="structure">Structure:</label><select name="structure">
            <option value="structure">IATI Standard</option>
            <option value="structureusa">IATI Standard (USA format)</option>
            <option value="csstructure">Common Standard (format A)</option>
            <option value="csstructureb">Common Standard (format B)</option>
           </select>
        </p>
        <p><label for="password">Password:</label><input type="password" value="" name="password" /></p>
        <p><input type="submit" value="Import schedule" class="btn" name="remote" /></p>
    </fieldset>
    </form>
{% endblock %}
