{% set active_page='publishers'%}{% extends "base.html" %}
{% block content %}
    <script src="/static/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#tablebasic").tablesorter({ sortList: [[0,0]] });
    $("table#tabledetailed").tablesorter({ sortList: [[0,1],[1,0]] });
    });

    </script>
    <a class="btn btn-success pull-right" href="{{url_for('publisher_edit', id=publisher.id)}}">Edit</a>
    <h1>{{publisher.publisher_actual}}</h1>
    <p class="lead">Score: {{score|int}}%</p>
    <p><b>Calculation:</b><br />{{score_calculations}}</p>
    <ul class="nav nav-tabs" id="pageTab">
        <li><a href="#basic" data-toggle="tab" class="firsttab">Basic information</a></li>
        <li><a href="#detailed" data-toggle="tab" class="secondtab">Detailed information</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="basic">
            <h3>Basic information</h3>
            <table class="table" id="tablebasic">
            <thead>
                <th>Item</th>
                <th>Value</th>
            </thead>
            <tbody>
            <tr>
                <td>Publisher name</td>
                <td>{{publisher.publisher_actual}}</td>
            </tr>
            <tr>
                <td>Publisher code</td>
                <td>{{publisher.publisher_code_actual}}</td>
            </tr>
            <tr>
                <td>Schedule version</td>
                <td>{{publisher.schedule_version_actual}}</td>
            </tr>
            <tr>
                <td>Schedule date</td>
                <td>{{publisher.schedule_date_actual}}</td>
            </tr>
            {% for segment in segments %}
            <tr>
                <td>{{properties.properties[segment.segment]["name"]}}</td>
                <td>{% if properties.properties[segment.segment]["type"] == "text" %}{% if segment.segment_value_actual is not none %}{{segment.segment_value_actual}}{%endif%}{%else%}
                {{properties.codes[properties.properties[segment.segment]["code"]][segment.segment_value_actual]}}
                {% endif%}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="tab-pane active" id="detailed">
            <h3>Detailed information</h3>
            <table class="table" id="tabledetailed">
            <thead>
                <th>Level</th>
                <th>Element</th>
                <th>Compliance</th>
                <th>Publication date</th>
                <th>Notes</th>
                <th>Exclusions</th>
            </thead>
            <tbody>
            {% for groupid, groupvalues in data.items() %}
                <tr class="info"><td colspan="6"><a href="{{url_for('elementgroup', id=groupid)}}">{{groupvalues.description}}</a></tr>
                {% for elementid, elementvalues in groupvalues.elements.items() %}
                   {% for propertyid, propertyvalues in elementvalues.properties.items() %}
                        {% set status = propertyvalues.data.status_actual%}
                        <tr>
                            <td>{{elementvalues.level|capitalize}}</td>
                            <td>{{elementvalues.description}}{% if propertyvalues.defining_attribute_value%} ({{propertyvalues.defining_attribute_value}}){%endif%}</td>
                            <td>{%
                                if (status=="fc")
                                %}<i class="icon-ok" title="Fully compliant"></i><br />Compliant{%
                                elif (status=="uc")
                                %}<i class="icon-remove" title="Uncompliant"></i><br />Uncompliant{%
                                elif (status=="pc")
                                %}<i class="icon-flag" title="Partially compliant"></i><br />Partial{%
                                elif (status=="up")
                                %}<i class="icon-remove" title="Unable to publish"></i><br />Unable{%
                                elif (status=="fp")
                                %}<i class="icon-wrench" title="Future publication"></i><br />Future
                                {% else %}
                                {{ status }}
                                {%endif%}
                            </td>
                            <td>{{propertyvalues.data.date_actual}}</td>
                            <td>{{propertyvalues.data.notes_actual}}</td>
                            <td>{% if propertyvalues.data.exclusions is not none %}{{propertyvalues.data.exclusions}}{%endif%}</td>
                        </tr>
                   {%endfor%}
                {% endfor %}
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <script>
     $(function () {
    $('#pageTab .secondtab').tab('show');
    })
    </script>
{% endblock %}
