{% set active_page='organisations'%}{% extends "base.html" %}
{% block title %}{{publisher.publisher_actual}} &raquo; Organisations {% endblock %}
{% block content %}
    <form action="" method="post">
    <h1>{{publisher.publisher}}</h1>
    <h3>Edit this publisher</h3>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Publisher name</td>
        <td><input type="text" value="{{publisher.publisher_actual}}" name="publisher" /></td>
    </tr>
    <tr>
        <td>Publisher code</td>
        <td><input type="text" value="{{publisher.publisher_code_actual}}" name="publisher_code" /></td>
    </tr>
    <tr>
        <td>Implementation schedule analysis</td>
        <td><textarea name="impschedule_analysis" rows="4">{{impschedule.analysis}}</textarea></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>
{% endblock %}
