{% set active_page='organisations'%}{% extends "base.html" %}
{% block title %}Organisations {% endblock %}
{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script >

    
    $.tablesorter.addParser({
        id: 'ambitionsorter',
        is: function(s) { 
            // return false so this parser is not auto detected 
            return false; 
        }, 
        format: function(value, table, cell) {
            return cell.getAttribute('data-ambition-order');
        },
        type: 'numeric'
    }); 
    $(function() {
        $("table#organisations").tablesorter({ 
                headers: {
                    {% if auth %}6{%else%}2{%endif%}: {
                        sorter: 'ambitionsorter'
                       }
                },
                sortList: [[{% if auth %}6{%else%}2{%endif%},0],[0,0]]
             });
        $("table#noschedules").tablesorter({ sortList: [[0,0]] });
    });
    </script>
    {% if auth%}<a class="btn btn-success pull-right" href="{{url_for('import_schedule')}}">Import new schedule</a>{%endif%}
    <a class="btn btn-mini pull-right" href="{{url_for('organisation', fileformat='csv')}}"><i class="icon-download"></i> CSV</a>
	<h1>Organisations</h1>
    <p class="lead">Organisations' plans were categorised into groups based on the following criteria. <a href="{{url_for('about')}}" class="btn btn-mini">More details &raquo;</a></p>
    <table class="table">
        <thead>
            <th>Group</th><th>Intention to publish</th><th>Publication approach</th><th>Fields</th>
        </thead>
        <tbody>
            <tr><td><span class="label-success label lead label-publishers">Ambitious</span></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i><i class="icon-ok"></i></td></td><td><b>60-100%</b></td></tr>
            <tr><td><span class="label-warning label lead label-publishers">Moderately ambitious</span></td><td><i class="icon-ok"></i></td><td><i class="icon-ok"></i></td><td><b>40-59%</b></td></tr>
            <tr><td><span class="label-important label lead label-publishers">Unambitious</span></td><td><i class="icon-ok"></i></td><td></td><td><b>1-39%</b></td></tr>
        </tbody>
    </table>
    <hr />
    <table class="table" id="organisations">
    <thead>
    <th width="60%">Organisation</th><th width="20%">Initial implementation</th>{% if auth %}<th>Total score</th><th>Will publish</th><th>Approach</th><th>Fields</th>{%endif%}<th width="20%">Group</th>
    </thead>
    <tbody>
	{% for org,org_data in orgs.items() %}
    <tr>
	<td><a href="{{url_for('organisation', id=org_data.publisher.publisher_code_actual)}}">{{ org_data.publisher.publisher_actual }}</a></td>
    <td>{{org_data.properties.publishing_timetable_date_initial.value}}</td>
    {% if auth %}
    <td>{{scores[org].score.total}}</td>
    <td>{{scores[org].score.will_publish}}</td>
    <td>{{scores[org].score.approach}}</td>
    <td>{{scores[org].score.elements}}</td>
    {% endif %}
    <td data-ambition-order="{{scores[org].score.group_order}}"><span class="{{scores[org].score.group_code}} label lead label-publishers" >{{scores[org].score.group}}</span></td>
    </tr>
	{% endfor %}
    </tbody>
    </table><!--
    <hr />
    <table class="table" id="noschedules">
    <tbody>
    <tr class="info"><td colspan="3"><b>No implementation schedules</b></td></tr>
    {% for publisher, publishervalues in notpublishing.items() %}
    <tr>
    <td width="60%">{% if auth %}<a href="{{url_for('organisation_edit', id=publishervalues[1])}}">{{publishervalues[0]}}</a>{%else%}{{publishervalues[0]}}{%endif%}</td>
    <td width="20%"></td>
    <td width="20%"><span class="label-inverse label lead label-publishers">No schedule</span></td>
    </tr>
    {%endfor%}
    </tbody>
    </table>-->

{% endblock %}
